<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonas.galgelegaflevering" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="uUF5dvrAPz9xlmiILkF9hwXdnOIrgtWAQVKnSHmX" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="NpNwcs6edjz1k1KQchhr2y7YBRCsUhCfdlpesHdR" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GameOverActivity" android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
